.movie-card {
  margin: 5px;
  width: 100%;
  min-width: 280px;
  max-width: 380px;

}

.movie-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
