
.search-box{
  text-align: center;
  padding: 1%;
}
.search-box input {
  width: 80%;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.search-box input:focus{
  box-shadow:none;
  border:2px solid #eeeeee;
}
