<section class="movies flex">
  <div class="movie-search-box">
    <movie-search></movie-search>
  </div>
  <ng-template #loading>
      <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
  </ng-template>
  <div class="movies-list" *ngIf="records$ | async as data; else loading">
     <movie-card *ngFor="let item of data" [movie]="item"></movie-card>
  </div>
  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    (page)="paginate($event)">
</mat-paginator>
</section>



