@import "~src/assets/scss/theming";

.movies.flex {
  display: flex;
  flex-direction: column;
  width: 98%
}

.movies {
  margin: 0 auto;
}

.movies > * {
  width: 100%;
}

.movies-list {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
  .movies-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .movies-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

