@import "~src/assets/scss/theming";

.movies.flex {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.movies {
  margin: 0 auto;
  padding: 1.5rem;
}

.movies > * {
  width: 100%;
}

.movies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
